body {
  background-color: #eee;
  /* Body Background color */
}

header {
  background-color: #eee;
  padding-top: 15px;
  padding-right: 20px;
  position: relative;
}

/* Circuit Image */
img {
  width: 130px;
  height: 160px;
  padding-left: 30px;
  margin-top: 0px;
  padding-bottom: 0px;
}

/* Voltage Comparator div */
#head {
  background-color: white;
  /*#EEE*/
  /*#f8f8f8*/
  width: 1200px;
  height: 600px;
  padding: 60px;
  padding-top: 6px;
  margin-top: 50px;
  margin-left: 120px;
  margin-right: 80px;
  z-index: 11;
}

/* Procedure pop-up Styling */
#draggable {
  position: absolute;
  z-index: 52;
  background-color: white;
  text-align: left;
  border: 2px solid #d3d3d3;
  word-break: keep-all;
  display: none;
  resize: both;
}

#content-head {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: gainsboro;
  color: black;
  font-weight: bold;
  font-family: Arial;
  padding-right: 60px;
  padding-bottom: 10px;
}

#content {
  max-width: 360px;
  max-height: 300px;
  overflow: scroll;
}

#close {
  float: right;
  display: inline-block;
  margin-top: 8px;
  margin-right: 5px;
  height: 18px;
  width: 18px;
  padding: 3px;
  text-align: center;
  color: white;
  font-size: 16px;
  background-color: mediumblue;
}

#close:hover {
  text-decoration: underline;
  transform: scale(1.02);
}

/* End of Procedure pop-up Styling */

/* Simulator Styling */

#simulator {
  border: 2px solid black;
  margin-top: 10px;
  width: 580px;
  height: 480px;
}

.jtk-demo-canvas {
  height: 550px;
  /*max-height:700px;
    border:1px solid #CCC;
    background-color:white;*/
  display: flex;
  position: absolute;
  top: 5px;
}

.canvas-wide {
  margin-left: 0;
}

/** JSPLUMB ARTEFACTS **/
.jtk-overlay {
  z-index: 51;
}

.jtk-endpoint {
  z-index: 50;
  cursor: pointer;
}

.jtk-connector {
  z-index: 1;
}

path,
.jtk-endpoint {
  cursor: pointer;
}

/** ELEMENTS **/
.littledot {
  cursor: pointer;
  width: 12px;
  height: 12px;
  background-image: url(images/conndot.png);
  background-size: 20px 20px;
  z-index: 5;
  position: absolute;
  border-radius: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.littledot-hover-hover {
  border: 2px solid orange;
}

.dropHover {
  border: 1px solid orange;
}

/** ELEMENT POSITIONS **/
#ld1 {
  position: absolute;
  top: 481px;
  left: 118px;
}

#ld2 {
  position: absolute;
  top: 453px;
  left: 181px;
}

.d2 {
  position: absolute;
  left: 20px;
  top: 6px;
}

#ld3 {
  position: absolute;
  top: 439px;
  left: 255px;
}

.d3 {
  position: absolute;
  top: -16px;
  left: -16px;
}

#ld4 {
  position: absolute;
  top: 473px;
  left: 256px;
}

.d4 {
  position: absolute;
  top: 6px;
  left: -16px;
}

#ld5 {
  position: absolute;
  top: 319px;
  left: 337px;
}

.d5 {
  position: absolute;
  top: 0px;
  left: 20px;
}

#ld6 {
  position: absolute;
  top: 378px;
  left: 338px;
}

.d6 {
  position: absolute;
  top: 0px;
  left: 20px;
}

#ld7 {
  position: absolute;
  top: 529px;
  left: 338px;
}

.d7 {
  position: absolute;
  top: -6px;
  left: 20px;
}

#ld8 {
  position: absolute;
  top: 577px;
  left: 339px;
}

.d8 {
  position: absolute;
  top: -16px;
  left: 20px;
}

#ld9 {
  position: absolute;
  top: 455.58px;
  left: 396px;
}

.d9 {
  position: absolute;
  top: 10px;
  left: 18px;
}

#ld10 {
  position: absolute;
  top: 444px;
  left: 466px;
}

.d10 {
  position: absolute;
  top: 0px;
  left: 20px;
}

/*
#im1{
    position: absolute;
    height: 20px;
    width:20px;
    top:492px;
    left:83px;
}
#im2{
    position: absolute;
    height: 20px;
    width:20px;
    top:465px;
    left:146px;
}
#im3{
    position: absolute;
    height: 20px;
    width:20px;
    top:450px;
    left:220px;
}
#im4{
    position: absolute;
    height: 20px;
    width:20px;
    top:485px;
    left:221px;
}
#im5{
    position: absolute;
    height: 20px;
    width:20px;
    top:330px;
    left:303px;
}
#im6{
    position: absolute;
    height: 20px;
    width:20px;
    top:390px;
    left:305px;
}
#im7{
    position: absolute;
    height: 20px;
    width:20px;
    top:540px;
    left:305px;
}
#im8{
    position: absolute;
    height: 20px;
    width:20px;
    top:589px;
    left:305px;
}
#im9{
    position: absolute;
    height: 20px;
    width:20px;
    top:467px;
    left:362px;
}
#im10{
    position: absolute;
    height: 20px;
    width:20px;
    top:455px;
    left:432px;
}

*/

/* End of Simulator Styling */

/* Observation Table Styling */

#obsertable {
  display: block;
}

table {
  float: right;
  position: absolute;
  left: 820px;
  top: 420px;
  height: 300px;
  width: 560px;
  display: block;
  overflow-y: scroll;
}

th,
td,
p,
input {
  font: 12px Verdana;
}

caption {
  background-color: #4c8ffb;
  /*or forestgreen */
  font-weight: bold;
  text-align: left;
  font: 16px;
  color: white;
  padding-left: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0px;
}

table,
th,
td {
  border: solid 1px black;
  padding: 0px 0px;
}

th {
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

td {
  border-collapse: collapse;
  text-align: left;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

/* End of Observation Table Styling */

/* User Input Styling */

.r1 {
  position: absolute;
  left: 1000px;
  top: 237px;
  display: flex;
}

.r2 {
  position: absolute;
  left: 1000px;
  top: 257px;
  display: flex;
}

.r3 {
  position: absolute;
  left: 1000px;
  top: 277px;
  display: flex;
}
.input-resistance {
  position: absolute;
  left: 1000px;
  top: 237px;
  display: flex;
}

.slider {
  width: 160px;
  height: 60px;
  top: 0px;
  display: flex;
  position: absolute;
}

.slider-2 {
  width: 160px;
  height: 60px;
  top: 50px;
  display: flex;
  position: absolute;
}

.slider-3 {
  width: 160px;
  height: 60px;
  top: 100px;
  display: flex;
  position: absolute;
}

#txt {
  width: 180px;
  display: inline;
  position: absolute;
  left: 826px;
  top: 257px;
  font-size: 20px;
}

#txt1 {
  width: 180px;
  display: inline;
  position: absolute;
  left: 200px;
  top: 18px;
  font-size: 20px;
}

#txt-2 {
  width: 180px;
  display: inline;
  position: absolute;
  left: 826px;
  top: 307px;
  font-size: 20px;
}

#txt1-2 {
  width: 180px;
  display: inline;
  position: absolute;
  left: 200px;
  top: 70px;
  font-size: 20px;
}

#txt-3 {
  width: 180px;
  display: inline;
  position: absolute;
  left: 826px;
  top: 357px;
  font-size: 20px;
}

#txt1-3 {
  width: 180px;
  display: inline;
  position: absolute;
  left: 200px;
  top: 120px;
  font-size: 20px;
}

#txt2 {
  width: 600px;
  display: inline;
  position: absolute;
  left: 826px;
  top: 307px;
  font-size: 20px;
}

#txt3 {
  width: 600px;
  display: inline;
  position: absolute;
  left: 826px;
  top: 402px;
  font-size: 20px;
}

#txt4 {
  width: 600px;
  display: inline;
  position: absolute;
  left: 826px;
  top: 448px;
  font-size: 20px;
}

#txt5 {
  width: 600px;
  display: inline;
  position: absolute;
  left: 826px;
  top: 490px;
  font-size: 20px;
}

#add {
  padding: 4px;
  padding-right: 12px;
  padding-left: 12px;
  font-size: 16px;
  position: absolute;
  left: 1300px;
  top: 275px;
  background-color: gainsboro;
}

#output {
  padding: 4px;
  padding-right: 12px;
  padding-left: 12px;
  font-size: 16px;
  position: absolute;
  left: 1300px;
  top: 325px;
  background-color: gainsboro;
}

#add:hover {
  background-color: lightsteelblue;
}

#output:hover {
  background-color: lightsteelblue;
}
